In [1]:
import pymysql
import numpy as np
import pandas as pd

In [2]:
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='2568',
                        db = 'test_db',
                        charset='utf8'
                        )

In [3]:
conn = pymysql.connect(host='127.0.0.1',
                        user='capstone',
                        password='Jangsung2568@',
                        db = 'test_db',
                        charset='utf8'
                        )

conn = pymysql.connect(host='220.149.218.111',
                       port=8888,
                        user='capstone',
                        password='Jangsung2568@',
                        db = 'test_db',
                        charset='utf8',
                        connect_timeout=10000
                        )

In [4]:
cur = conn.cursor()

In [12]:
#cur.execute('CREATE TABLE userTable (id char(4), userName char(15), email char(20), birthYear int)')

0

In [5]:
cur.execute("INSERT INTO test VALUES('2023-02-08', 105)")
cur.execute("INSERT INTO test VALUES('2023-02-09',  201)")
cur.execute("INSERT INTO test VALUES('2023-02-10',  199)")
cur.execute("INSERT INTO test VALUES('2023-02-11',  192)")
cur.execute("INSERT INTO test VALUES('2023-02-12', 215)")
cur.execute("INSERT INTO test VALUES('2023-02-13',  115)")
cur.execute("INSERT INTO test VALUES('2023-02-14',  180)")
cur.execute("INSERT INTO userTable VALUES('2023-02-15',  166)")

ProgrammingError: (1146, "Table 'test_db.test' doesn't exist")

In [14]:
conn.commit()

In [15]:
conn.close()

In [19]:
# 전역변수 선언부
conn, cur = None, None
data1, data2, data3, data4 = '','','',''
sql = ''

# 메인코드
conn = pymysql.connect(host = '127.0.0.1',
                        user = 'root',
                        password='2568',
                        db = 'test_db',
                        charset='utf8')
cur = conn.cursor()

while (True):
    data1 = input('time ==>')
    if data1 =='':
        break
    data2 = input('score ==> ')
    #data3 = input('사용자 이메일 ==> ')
    #data4 = input('사용자 출생연도 => ')
    sql = "INSERT INTO userTable VALUES('" + data1 + "','" + data2 + "','" + data3 + "'," + data4 + ")"
    cur.execute(sql)

conn.commit()
conn.close()

In [13]:
# 전역변수 선언부
conn, cur = None, None
data1, data2, data3, data4 = '','','',''
sql = ''

# 메인코드
conn = pymysql.connect(host = '127.0.0.1',
                        user = 'root',
                        password='2568',
                        db = 'test_db',
                        charset='utf8')
cur = conn.cursor()

while (True):
    data1 = input('time ==>')
    if data1 =='':
        break
    data2 = input('score ==> ')
    #data3 = input('사용자 이메일 ==> ')
    #data4 = input('사용자 출생연도 => ')
    sql = "INSERT INTO time_test VALUES('" + data1 + "'," + data2 + ")"
    cur.execute(sql)

conn.commit()
conn.close()

In [9]:
select = 'SELECT * FROM time_test'

In [10]:
cur.execute(select)

10

In [11]:
result = cur.fetchall()

In [13]:
pd.DataFrame(result)

           0    1
0 2020-06-11  250
1 2020-06-09  100
2 2020-06-11  250
3 2023-02-25  100
4 2023-02-27  250
5 2023-02-26  110
6 2023-02-08  150
7 2023-02-09  139
8 2023-02-10  320
9 2023-02-11  114