In [1]:
import requests
import pandas as pd
import numpy as np

In [5]:
url = 'http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst'
params ={'serviceKey' : 'HBsd7IB4qCP0hHVD3lw2kZl+bAP0XU7KmA6WDTB8lh8AAbPtxJmuIgLJne4VTQB6NPgsIf9jRJ6nTjW9ZYykdw==', 
        'pageNo' : '1', 
        'numOfRows' : '1000', 
        'dataType' : 'JSON', 
        'base_date' : '20230203', 
        'base_time' : '0600', 
        'nx' : '55', 
        'ny' : '127' }

response = requests.get(url, params=params)
print(response.content)

b'{"response":{"header":{"resultCode":"00","resultMsg":"NORMAL_SERVICE"},"body":{"dataType":"JSON","items":{"item":[{"baseDate":"20230203","baseTime":"0600","category":"PTY","nx":55,"ny":127,"obsrValue":"0"},{"baseDate":"20230203","baseTime":"0600","category":"REH","nx":55,"ny":127,"obsrValue":"58"},{"baseDate":"20230203","baseTime":"0600","category":"RN1","nx":55,"ny":127,"obsrValue":"0"},{"baseDate":"20230203","baseTime":"0600","category":"T1H","nx":55,"ny":127,"obsrValue":"-5"},{"baseDate":"20230203","baseTime":"0600","category":"UUU","nx":55,"ny":127,"obsrValue":"0.8"},{"baseDate":"20230203","baseTime":"0600","category":"VEC","nx":55,"ny":127,"obsrValue":"311"},{"baseDate":"20230203","baseTime":"0600","category":"VVV","nx":55,"ny":127,"obsrValue":"-0.6"},{"baseDate":"20230203","baseTime":"0600","category":"WSD","nx":55,"ny":127,"obsrValue":"1"}]},"pageNo":1,"numOfRows":1000,"totalCount":8}}}'

In [159]:
import json

In [7]:
j = response.json()

In [21]:
q = j['response']['body']['items']

In [23]:
pd.DataFrame(q)

                                                item
0  {'baseDate': '20230203', 'baseTime': '0600', '...
1  {'baseDate': '20230203', 'baseTime': '0600', '...
2  {'baseDate': '20230203', 'baseTime': '0600', '...
3  {'baseDate': '20230203', 'baseTime': '0600', '...
4  {'baseDate': '20230203', 'baseTime': '0600', '...
5  {'baseDate': '20230203', 'baseTime': '0600', '...
6  {'baseDate': '20230203', 'baseTime': '0600', '...
7  {'baseDate': '20230203', 'baseTime': '0600', '...