In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from haversine import haversine
import pymysql
from itertools import *
from tqdm import tqdm

In [2]:
df = pd.read_csv('C:/Users/user/github/Data/capstone/total_eda_real.csv')

In [3]:
df.head(1)

   지점       위도        경도 지점명                일시   기온   풍속     풍향    습도  강수량
0  90  38.2509  128.5647  속초  2021-01-01 00:00 -6.3  2.6  290.0  30.0  0.0

In [4]:
conn = pymysql.connect(host = '127.0.0.1',
                        user = 'root',
                        password='2568',
                        db = 'mydb',
                        charset='utf8')

curs = conn.cursor(pymysql.cursors.DictCursor)

In [5]:
curs.execute('SELECT * FROM real_table;')

1662120

In [6]:
sql_df = pd.DataFrame(curs.fetchall())

In [7]:
sql_df

,datetime,point,point_name,latitude,longitude,temp,windspeed,winddir,humidity,precipitation
0,2021-01-01,90,속초,38.2509,128.565,-6.3,2.6,290.0,30.0,0.0
1,2021-01-01,93,북춘천,37.9475,127.755,-10.7,0.5,360.0,63.0,0.0
2,2021-01-01,95,철원,38.1479,127.304,-10.7,0.5,160.0,50.0,0.0
3,2021-01-01,98,동두천,37.9019,127.061,-10.0,1.1,50.0,63.0,0.0
4,2021-01-01,99,파주,37.8859,126.767,-12.0,0.7,140.0,82.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1662115,2022-12-31,285,합천,35.5651,128.170,-2.1,0.1,0.0,79.0,0.0
1662116,2022-12-31,288,밀양,35.4915,128.744,-3.6,0.2,0.0,79.0,0.0
1662117,2022-12-31,289,산청,35.4130,127.879,0.6,2.9,320.0,58.0,0.0
1662118,2022-12-31,294,거제,34.8882,128.605,1.9,1.3,290.0,59.0,0.0
1662119,2022-12-31,295,남해,34.8166,127.926,0.4,1.1,250.0,66.0,0.0

In [8]:
point_name = sql_df.point_name.unique().tolist()

In [9]:
point_name[0]

'속초'

In [10]:
sql_df[sql_df['point_name']=='속초'][['latitude','longitude']].values[0].tolist()

[38.2509, 128.565]

In [11]:
total_result = []
for i in tqdm(range(len(point_name))):
    total_result.append([point_name[i],sql_df[sql_df['point_name']==point_name[i]][['latitude','longitude']].values[0].tolist() ])

100%|██████████| 95/95 [00:06<00:00, 15.83it/s]

In [12]:
total_result[0][1]

[38.2509, 128.565]

In [13]:
printList = list(combinations(point_name, 2))

In [14]:
len(printList)

4465

In [15]:
printList[0][0]
printList[0][1]

'북춘천'

In [16]:
sql_df[sql_df['point_name']=='북춘천'].latitude.values[0]

37.9475

In [17]:
sql_df[sql_df['point_name']=='북춘천'].longitude.values[0]

127.755

In [18]:
len(printList)

4465

In [19]:
fi = (sql_df[sql_df['point_name']==printList[i][0]].latitude.values[0], sql_df[sql_df['point_name']==printList[i][0]].longitude.values[0])
se = (sql_df[sql_df['point_name']==printList[i][1]].latitude.values[0], sql_df[sql_df['point_name']==printList[i][1]].longitude.values[0])

In [20]:
haversine(fi, se)

45.345141800750646

In [21]:
printList[i][0]

'북춘천'

In [22]:
re = []
for i in tqdm(range(len(printList))):
    fi = (sql_df[sql_df['point_name']==printList[i][0]].latitude.values[0], sql_df[sql_df['point_name']==printList[i][0]].longitude.values[0])
    se = (sql_df[sql_df['point_name']==printList[i][1]].latitude.values[0], sql_df[sql_df['point_name']==printList[i][1]].longitude.values[0])
    rr = haversine(fi,se)
    re.append([printList[i][0], printList[i][1], rr])

100%|██████████| 4465/4465 [18:09<00:00,  4.10it/s]

In [29]:
d = pd.DataFrame(re, columns=['지역1','지역2','거리'])

d.to_csv('C:/Users/user/github/Data/capstone/distance.csv', index=False, encoding='utf-8-sig')