In [7]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import warnings
warnings.filterwarnings('ignore')

In [3]:
os.chdir('C:/Users/user/github/Data/capstone/')
file_list = glob.glob("**/*.csv", recursive=True)

In [8]:
file_list

['total_2021.csv', 'total_2022.csv', 'total_eda_real.csv', '서부발전_태양광발전소.csv']

In [9]:
df = pd.read_csv(file_list[0], encoding='cp949')

In [10]:
df_2 = pd.read_csv(file_list[1], encoding='cp949')

In [11]:
total_df = pd.concat([df,df_2])

In [12]:
total_df = total_df.sort_values('지점')

In [13]:
col = ['지점', '지점명', '일시', '기온', '기온 QC플래그', '강수량', '강수량 QC플래그',
       '풍속', '풍속 QC플래그', '풍향', '풍향 QC플래그', '습도', '습도 QC플래그',
       '증기압', '이슬점온도', '현지기압', '현지기압 QC플래그', '해면기압',
       '해면기압 QC플래그', '일조', '일조 QC플래그', '일사', '일사 QC플래그', '적설',
       '3시간신적설', '전운량', '중하층운량', '운형', '최저운고',
       '시정', '지면상태', '현상번호', '지면온도', '지면온도 QC플래그',
       '5cm 지중온도', '10cm 지중온도', '20cm 지중온도', '30cm 지중온도']

In [14]:
total_df.columns = col

In [15]:
df_eda = total_df[['지점','지점명','일시','기온','풍속','풍향','습도','강수량']].fillna(0)

df_eda.to_csv("C:/Users/user/github/Data/capstone/total_eda_real.csv", index=False, encoding='utf-8-sig')

In [20]:
df_eda['지점'].unique()

array([ 90,  93,  95,  98,  99, 100, 101, 102, 104, 105, 106, 108, 112,
       114, 115, 119, 121, 127, 129, 130, 131, 133, 135, 136, 137, 138,
       140, 143, 146, 152, 155, 156, 159, 162, 165, 168, 169, 170, 172,
       174, 177, 184, 185, 188, 189, 192, 201, 202, 203, 211, 212, 216,
       217, 221, 226, 232, 235, 236, 238, 239, 243, 244, 245, 247, 248,
       251, 252, 253, 254, 255, 257, 258, 259, 260, 261, 262, 263, 264,
       266, 268, 271, 272, 273, 276, 277, 278, 279, 281, 283, 284, 285,
       288, 289, 294, 295], dtype=int64)

In [21]:
df_eda['지점'].value_counts()

90     17496
243    17496
255    17496
254    17496
253    17496
       ...
152    17496
146    17496
143    17496
140    17496
295    17496
Name: 지점, Length: 95, dtype: int64

In [25]:
meta = pd.read_csv('C:/Users/user/Downloads/META_관측지점정보_20230309163204.csv', encoding='cp949')

In [29]:
meta = meta.drop_duplicates('지점')

In [33]:
meta = meta[['지점','위도','경도']]

In [40]:
df_eda

         지점 지점명                일시    기온   풍속     풍향    습도  강수량
0        90  속초  2021-01-01 00:00  -6.3  2.6  290.0  30.0  0.0
2894     90  속초  2022-05-01 15:00  20.7  2.5  270.0  19.0  0.0
2895     90  속초  2022-05-01 16:00  16.0  4.9  340.0  39.0  0.0
2896     90  속초  2022-05-01 17:00  13.7  3.5   70.0  54.0  0.0
2897     90  속초  2022-05-01 18:00  13.8  5.6  360.0  54.0  0.0
...     ...  ..               ...   ...  ...    ...   ...  ...
829277  295  남해  2021-09-01 05:00  25.6  1.1  230.0  81.0  0.0
829276  295  남해  2021-09-01 04:00  26.4  1.8  250.0  80.0  0.0
829275  295  남해  2021-09-01 03:00  25.7  0.6  200.0  85.0  0.0
829281  295  남해  2021-09-01 09:00  26.9  2.7  200.0  80.0  0.0
829919  295  남해  2022-12-31 00:00   0.4  1.1  250.0  66.0  0.0

[1662120 rows x 8 columns]

In [46]:
rrr = pd.merge(meta,df_eda, left_on = ['지점'], right_on=['지점'])

In [54]:
rrr = rrr.sort_values(['지점','일시'])

rrr.to_csv('C:/Users/user/github/Data/capstone/total_eda_real.csv', encoding='utf-8-sig', index=False)