In [1]:
import pymysql
import numpy as np
import pandas as pd
from tqdm import tqdm
from datetime import datetime

In [2]:
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='2568',
                        db = 'mydb',
                        charset='utf8'
                        )

RuntimeError: 'cryptography' package is required for sha256_password or caching_sha2_password auth methods

In [ ]:
conn = pymysql.connect(host='127.0.0.1',
                        user='capstone',
                        password='Jangsung2568@',
                        db = 'test_db',
                        charset='utf8'
                        )

conn = pymysql.connect(host='220.149.218.111',
                       port=8888,
                        user='capstone',
                        password='Jangsung2568@',
                        db = 'test_db',
                        charset='utf8',
                        connect_timeout=10000
                        )

In [3]:
df = pd.read_csv('C:/Users/user/github/Data/capstone/total_eda_real.csv')

In [4]:
df

,지점,위도,경도,지점명,일시,기온,풍속,풍향,습도,강수량
0,90,38.2509,128.5647,속초,2021-01-01 00:00,-6.3,2.6,290.0,30.0,0.0
1,90,38.2509,128.5647,속초,2021-01-01 01:00,-6.7,4.3,320.0,30.0,0.0
2,90,38.2509,128.5647,속초,2021-01-01 02:00,-6.7,2.0,340.0,26.0,0.0
3,90,38.2509,128.5647,속초,2021-01-01 03:00,-7.2,1.3,320.0,25.0,0.0
4,90,38.2509,128.5647,속초,2021-01-01 04:00,-7.6,0.8,180.0,25.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1662115,295,34.8166,127.9264,남해,2022-12-30 20:00,3.5,1.7,290.0,52.0,0.0
1662116,295,34.8166,127.9264,남해,2022-12-30 21:00,2.3,1.4,270.0,60.0,0.0
1662117,295,34.8166,127.9264,남해,2022-12-30 22:00,0.8,1.1,270.0,67.0,0.0
1662118,295,34.8166,127.9264,남해,2022-12-30 23:00,0.8,0.7,290.0,65.0,0.0
1662119,295,34.8166,127.9264,남해,2022-12-31 00:00,0.4,1.1,250.0,66.0,0.0

In [5]:
df.columns

Index(['지점', '위도', '경도', '지점명', '일시', '기온', '풍속', '풍향', '습도', '강수량'], dtype='object')

In [6]:
df = df[['일시', '지점', '지점명', '위도', '경도', '기온', '풍속', '풍향', '습도', '강수량']]

In [7]:
df.일시 = pd.to_datetime(df.일시)

In [9]:
# 전역변수 선언부
conn, cur = None, None
sql = ''

# 메인코드
conn = pymysql.connect(host = '127.0.0.1',
                        user = 'root',
                        password='2568',
                        db = 'mydb',
                        charset='utf8')
cur = conn.cursor()

for i in tqdm(range(len(df))):
    df_select = df.iloc[i,:]

    datetime = df_select[0].strftime("%Y-%m-%d %H:%M:%S")
    point = str(df_select[1])
    point_name = df_select[2]
    latitude = str(df_select[3])
    longitude = str(df_select[4])
    temp = str(df_select[5])
    windspeed = str(df_select[6])
    winddir = str(df_select[7])
    humidity = str(df_select[8])
    precipitation = str(df_select[9])

    sql = "INSERT INTO real_table VALUES('" + datetime + "','" + point + "','" + point_name + "','" + latitude + "','" + longitude + "','" + temp + "','" + windspeed + "','" + winddir + "','" + humidity + "','" + precipitation + "')"
    cur.execute(sql)

conn.commit()
conn.close()

100%|██████████| 1662120/1662120 [06:15<00:00, 4421.90it/s]

In [120]:
sql

"INSERT INTO real_table VALUES('2021-01-01 00:00:00','90','속초',38.2509',128.5647',-6.3',2.6',290.0',30.0',0.0)"

In [92]:
print(type(datetime))
print(type(point))
print(type(point_name))
print(type(latitude))
print(type(longitude))
print(type(temp))
print(type(windspeed))
print(type(winddir))
print(type(humidity))
print(type(precipitation))

<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [13]:
# 전역변수 선언부
conn, cur = None, None
data1, data2, data3, data4 = '','','',''
sql = ''

# 메인코드
conn = pymysql.connect(host = '127.0.0.1',
                        user = 'root',
                        password='2568',
                        db = 'test_db',
                        charset='utf8')
cur = conn.cursor()

while (True):
    data1 = input('time ==>')
    if data1 =='':
        break
    data2 = input('score ==> ')
    #data3 = input('사용자 이메일 ==> ')
    #data4 = input('사용자 출생연도 => ')
    sql = "INSERT INTO time_test VALUES('" + data1 + "'," + data2 + ")"
    cur.execute(sql)

conn.commit()
conn.close()

In [9]:
select = 'SELECT * FROM time_test'

In [10]:
cur.execute(select)

10

In [11]:
result = cur.fetchall()

In [13]:
pd.DataFrame(result)

           0    1
0 2020-06-11  250
1 2020-06-09  100
2 2020-06-11  250
3 2023-02-25  100
4 2023-02-27  250
5 2023-02-26  110
6 2023-02-08  150
7 2023-02-09  139
8 2023-02-10  320
9 2023-02-11  114